*{
    color:#40514E;

    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
   
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    
    padding-bottom: 10px;
  
}
.icon{
    padding: 10px;
    display: inline;
    border-radius: 20px;
   
    

    background: #F7F7F7;
  
 

}
.our-menu{
    margin-left:20px;
}