.intro{
    display: flex;
    height:100vh;

}
.i-left{
    
display: flex;

flex: 1;
flex-direction: column;
margin-top:7rem;
    text-align: start;

}

.i-name{
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 5% 0 5rem 20rem;
    
    text-align: start;
  
    
}
.i-name :nth-child(1){
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
}
.i-name :nth-child(2){
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
}
.i-name :nth-child(3){
   width: 70%;
   line-height: 1.5;
   text-align: start;
}

   .i-btn{
    margin: 0 2rem 0 0rem;
   
   } 
.btn{
  margin: 0 40rem 0 0rem;
}



.leaf{
    width: 190px;
    height: 276px;
 
  
}

.i-right{
    
    flex:1;
   position: absolute;
   
}

/* right side */
.i-right>*{
    position: absolute;
    z-index: 1;
    top: 3rem;
}
/* circle */
.i-right :nth-child(1){
    width: 460px;
    height: 460px;
    border-radius: 50%;
    border: 10px solid rgb(238, 238, 241);
    /* position: absolute; */
  
    top: 15rem;
    left:55rem
   }
   /* pepper */
   .i-right :nth-child(2){
    transform: scale(0.6);
    margin:5rem 0 0 58rem;

    /* position: absolute; */
   }
/* pizza */
   .i-right :nth-child(3){
    width: 463px;
    height: 453px;
    
    transform: rotate(-61deg);
    padding:30px;
    margin:10rem 0 0 57rem;
    /* position: absolute; */
   }
   .i-right :nth-child(4){
    transform: scale(0.8);
    margin:26rem 0 0 51rem;
    /* position: absolute; */

   }
   .i-right :nth-child(5){
    transform: scale(0.8);
    margin:36rem 0 0 65rem;
    /* position: absolute; */
   }
   .i-right :nth-child(6){
    transform: scale(0.8);
    margin:30rem 0 0 78rem;
    /* position: absolute; */
   }
   /* corr */
   .i-right :nth-child(7){
    transform: scale(0.8);
    margin:35rem 0 0 60rem;
    /* position: absolute; */
   }
   @media screen and (max-width: 480px){

    .intro {
        flex-direction: column;
    
     }
     .i-name{
       width:120%;
     
        padding: 7% 25%;
      
        
    }
      /* .i-right :nth-child(1){
        border: 10px solid rgb(49, 49, 168);
  
      } */
      .i-right :nth-child(2){
       
        transform: scale(0.5);
        margin:34rem 0 0  30px;
       
      }
      .i-right :nth-child(3){
        transform: rotate(-61deg);
        width: 370px;
        height: 360px;
       margin:40rem 0 0  50px;
        
       
      }
      .i-right :nth-child(4){
       
        transform: scale(0.5);
        margin:53rem 0 0 0;
    
       
      }
      .i-right :nth-child(5){
       
        transform: scale(0.5);
        margin:60rem 0 0 9rem;
        
       
      }
      .i-right :nth-child(6){
       
        transform: scale(0.5);
        margin:54rem 0 0 19rem;
        
       
      }
      
      .i-right :nth-child(7){
       
        transform: scale(0.5);
        
        margin:60rem 0 0 6rem;
        
       
      }
      .i-btn{
        margin: 0 2rem 0 4rem;
       } 
       .i-name :nth-child(1){
        font-weight: bold;
        font-size: 2rem;
    }
    .i-name :nth-child(2){
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .i-name :nth-child(3){
        line-height: 1.2;
    }
     
      
   }