

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
/* .app{
 
  
  text-align: center;
 
} */

/* .button {
    background: #040b50;
    box-shadow: 0px 20px 24px 3px rgba(95, 95, 144, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 15px;
    padding: 11px 26px 11px 26px;
    cursor: pointer;
  }
  button:hover, button:active {
    color:#040b50;
    background:#fff;
  } */
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }